p, li{
    font-family:"Roboto", "Helvetica Neue", Helvetica, Arial;
}
h3, h2.row{
    font-family:"Roboto", "Helvetica Neue", Helvetica, Arial;
}
#header {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}
button{
    width: 80%;
    height: 70px;
    margin: 20px;
}
div.divFooter {
    position: fixed;
    bottom: 0;
}